/*==========  Gray colors  ==========*/
/*Gray 85%*/
/* Gray 80%*/
/* Gray 67%*/
/* Gray 65%*/
/* Gray 30%*/
/* Gray 15%*/
/*=====  Light colors  ======*/
/*==========  Brand-colors  ==========*/
/* #337ab7*/
/*----------  More Colors  ----------*/
body.page-template-page-builder #primary {
	float: none;
	width: 100%;
}

body.page-template-page-builder #main {
	padding-top: 0;
}

.elementor-column-gap-default .elementor-row {
	width: calc(100% + 20px);
}

.elementor-column-gap-narrow .elementor-row {
	width: calc(100% + 10px);
	margin-left: -5px;
	margin-right: -5px;
}

.elementor-column-gap-extended .elementor-row {
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px;
}

.elementor-column-gap-wide .elementor-row {
	width: calc(100% + 40px);
	margin-left: -20px;
	margin-right: -20px;
}

.elementor-column-gap-wider .elementor-row {
	width: calc(100% + 60px);
	margin-left: -30px;
	margin-right: -30px;
}

.elementor {
	/*----------  Social Icons  ----------*/
	/*----------  Read more  ----------*/
	/*----------  Buttom Group  ----------*/
}

.elementor a {
	color: #424143;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}

.elementor a:hover {
	color: #78b865;
}

.elementor #social-icons,
.elementor .social-icons {
	margin: 0;
	padding: 0;
}

.elementor #social-icons li,
.elementor .social-icons li {
	display: inline-block;
}

.elementor #social-icons li a,
.elementor .social-icons li a {
	display: block;
	padding: 5px 10px;
}

.elementor #social-icons li:last-child,
.elementor .social-icons li:last-child {
	margin-right: 0;
}

.elementor #social-icons.social-icons--background li a,
.elementor .social-icons.social-icons--background li a {
	background-color: #424143;
	color: #fff;
}

.elementor #social-icons.social-icons--background li:hover a,
.elementor .social-icons.social-icons--background li:hover a {
	background-color: #78b865;
}

.elementor #social-icons.social-icons--border,
.elementor .social-icons.social-icons--border {
	text-align: center;
}

.elementor #social-icons.social-icons--border li,
.elementor .social-icons.social-icons--border li {
	margin-top: 0;
	margin-right: 10px;
	padding-top: 0;
	border-top: none;
	text-align: center;
}

.elementor #social-icons.social-icons--border li:first-child a,
.elementor .social-icons.social-icons--border li:first-child a {
	border: 1px solid #67666a;
}

.elementor #social-icons.social-icons--border li a,
.elementor .social-icons.social-icons--border li a {
	width: 30px;
	height: 30px;
	padding: 0;
	border: 1px solid #67666a;
	border-radius: 50%;
	color: #67666a;
	line-height: 30px;
}

.elementor #social-icons.social-icons--border li:hover a,
.elementor .social-icons.social-icons--border li:hover a {
	border-color: #78b865;
	color: #78b865;
}

.elementor .read-more {
	color: #67666a;
	font-weight: 500;
	text-decoration: none;
}

.elementor .read-more.read-more--bold {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

.elementor .read-more.read-more--bold::after {
	content: '\f105';
	padding-left: 10px;
	color: #78b865;
	font-family: FontAwesome;
	font-size: 14px;
}

.elementor .spacious-title .widget-title {
	color: #444444;
	padding-bottom: 15px;
	font-weight: 600;
}

.elementor .spacious-title .widget-desc {
	margin-bottom: 0;
	color: #999999;
	font-size: 14px;
}

.elementor .spacious-title.center {
	text-align: center;
}

.elementor .spacious-title.right {
	text-align: right;
}

.elementor .spacious-title.style_two .widget-title {
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.elementor .spacious-title.style_two .widget-title::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";
	width: 40px;
	height: 1px;
	background-color: #999999;
}

.elementor .spacious-title.style_two.center .widget-title::after {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.elementor .spacious-title.style_two.right .widget-title::after {
	left: auto;
	right: 0;
}

.elementor .spacious-title.style_three .widget-desc span {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	padding-right: 10px;
}

.elementor .spacious-title.style_three .widget-desc span::before, .elementor .spacious-title.style_three .widget-desc span::after {
	position: absolute;
	top: 50%;
	left: 100%;
	content: "";
	width: 40px;
	height: 1px;
	background-color: #999999;
}

.elementor .spacious-title.style_three .widget-desc span::after {
	display: none;
}

.elementor .spacious-title.style_three.center .widget-desc span {
	padding-left: 10px;
}

.elementor .spacious-title.style_three.center .widget-desc span::before {
	left: 100%;
}

.elementor .spacious-title.style_three.center .widget-desc span::after {
	display: block;
	left: auto;
	right: 100%;
}

.elementor .spacious-title.style_three.right .widget-desc span {
	padding-right: 0;
	padding-left: 10px;
}

.elementor .spacious-title.style_three.right .widget-desc span::before {
	display: none;
}

.elementor .spacious-title.style_three.right .widget-desc span::after {
	display: block;
	left: auto;
	right: 100%;
}

.elementor .team-member {
	margin: 30px 0;
	text-align: center;
	/*----------Team Style two  ----------*/
}

.elementor .team-member .team-member__thumbnail {
	margin: 0;
	padding: 0;
}

.elementor .team-member .team-member__thumbnail img {
	display: block;
	margin-bottom: 0;
	width: 100%;
}

.elementor .team-member .team-member__title {
	margin: 20px 0 10px;
	color: #1e1e1f;
	font-size: 16px;
	padding-bottom: 0;
}

.elementor .team-member .team-member__position {
	margin: 5px 0 10px;
	color: #67666a;
	font-size: 12px;
}

.elementor .team-member .team-member__description {
	color: #67666a;
}

.elementor .team-member .team-member__social {
	padding-top: 10px;
}

.elementor .team-member .team-member__social .social-icons {
	padding: 0;
}

.elementor .team-member .team-member__social .social-icons li {
	margin-right: 10px;
}

.elementor .team-member .team-member__social .social-icons li a {
	width: 35px;
	height: 30px;
	background: #fff;
	color: #67666a;
	-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
}

.elementor .team-member .team-member__social .social-icons li a:hover {
	background: #78b865;
	color: #fff;
}

.elementor .team-member.team-style-two {
	position: relative;
}

.elementor .team-member.team-style-two .team-member__info {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 100px 30px 0;
	background: rgba(120, 184, 101, 0.5);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: visibility 0.35s, opacity 0.35s;
	transition: visibility 0.35s, opacity 0.35s;
}

.elementor .team-member.team-style-two .team-member__info .team-member__title,
.elementor .team-member.team-style-two .team-member__info .team-member__position,
.elementor .team-member.team-style-two .team-member__info .team-member__description {
	color: #fff;
}

.elementor .team-member.team-style-two:hover .team-member__info {
	opacity: 1;
	visibility: visible;
}

.elementor .counter {
	text-align: center;
}

.elementor .counter .counter__icon {
	color: #78b865;
	font-size: 40px;
}

.elementor .counter .counter__number {
	position: relative;
	margin: 20px 0 25px;
	color: #1e1e1f;
	font-weight: 300;
	font-size: 66px;
	line-height: 66px;
	padding-bottom: 10px;
}

.elementor .counter .counter__number::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 2px;
	right: 0;
	bottom: -10px;
	left: 0;
	margin: 0 auto;
	background: #78b865;
}

.elementor .counter .counter__title {
	color: #807f83;
	display: block;
}

.elementor .call-to-action {
	padding: 30px;
	border-radius: 3px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.elementor .call-to-action .call-to-action-right {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: right;
}

.elementor .call-to-action .call-to-action__title {
	margin: 0;
	color: #424143;
	font-size: 26px;
}

.elementor .call-to-action .call-to-action__content {
	color: #67666a;
}

.elementor .btn {
	display: inline-block;
	padding: 12px 30px;
	border: none;
	background: #cbc9cf;
	color: #424143;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	/*----------  Sizes  ----------*/
	/*----------  Layout  ----------*/
	/*----------  Button color styles  ----------*/
}

.elementor .btn .fa {
	padding-right: 10px;
	color: #fff;
}

.elementor .btn.btn--small {
	padding: 7px 15px;
	border-width: 1px;
	font-size: 12px;
}

.elementor .btn.btn--wide {
	padding: 13px 45px;
	border-width: 2px;
	font-size: 12px;
}

.elementor .btn.btn--medium {
	padding: 20px 45px;
	border-width: 2px;
	font-size: 14px;
	font-weight: 500;
}

.elementor .btn.btn--large {
	padding: 30px 60px;
	border-width: 4px;
	font-size: 22px;
	font-weight: 500;
}

.elementor .btn.btn--flat {
	border-radius: none;
}

.elementor .btn.btn--rounded {
	border-radius: 100px;
}

.elementor .btn.btn--bordered {
	border-style: solid;
	border-color: #fff;
}

.elementor .btn.btn--rectangular-rounded {
	border-radius: 3px;
}

.elementor .btn.btn--primary {
	border-color: #fff;
	background: #78b865;
	color: #fff;
}

.elementor .btn.btn--primary:hover {
	border-color: #81bd6f;
	background: #81bd6f;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.elementor .btn.btn--orange {
	border-color: #fff;
	background: #f8a660;
	color: #fff;
}

.elementor .btn.btn--orange:hover {
	border-color: #f9ae6f;
	background: #f9ae6f;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.elementor .btn.btn--cyan {
	border-color: #fff;
	background: #83e0f1;
	color: #fff;
}

.elementor .btn.btn--cyan:hover {
	border-color: #91e3f3;
	background: #91e3f3;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.elementor .btn.btn--pink {
	border-color: #fff;
	background: #dd9ebd;
	color: #fff;
}

.elementor .btn.btn--pink:hover {
	border-color: #e1a9c5;
	background: #e1a9c5;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.elementor .btn.btn--yellow {
	border-color: #fff;
	background: #d0c678;
	color: #fff;
}

.elementor .btn.btn--yellow:hover {
	border-color: #ded8a2;
	background: #ded8a2;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.elementor .btn.btn--ghost {
	border-style: solid;
	background: transparent;
}

.elementor .btn.btn--white {
	background: #fff;
	color: #1e1e1f;
}

.elementor .btn.btn--white .fa {
	color: #1e1e1f;
}

.elementor .btn.btn--white:hover {
	background: #1e1e1f;
	color: #fff;
}

.elementor .btn.btn--white:hover .fa {
	color: #fff;
}

.elementor .btn.btn--black {
	background: #1e1e1f;
	color: #fff;
}

.elementor .btn.btn--black:hover {
	background: #fff;
	color: #1e1e1f;
}

.elementor .btn.btn--black:hover .fa {
	color: #1e1e1f;
}

.elementor .btn.btn--border {
	padding: 5px 0;
	border-top: 1px solid #807f83;
	border-bottom: 1px solid #807f83;
	background-color: transparent;
	color: #67666a;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
}

.elementor .btn.btn--border:hover {
	border-color: #78b865;
	color: #78b865;
}

.elementor .btn-group .btn {
	margin-right: 15px;
}

.elementor .btn-group .btn:last-child {
	margin-right: 0;
}

@media screen and (max-width: 768px) {
	.elementor .call-to-action {
		display: block;
		text-align: center;
	}
	.elementor .call-to-action .call-to-action-right {
		text-align: center;
	}
	.elementor .spacious-slider .swiper-container .slider-content .caption-title {
		font-size: 20px;
		color: #fff;
		font-weight: bold;
		margin-bottom: 15px;
	}
	.elementor .spacious-slider .swiper-container .slider-content .caption-desc {
		font-size: 14px;
		color: #fff;
		margin-bottom: 15px;
	}
	.elementor .spacious-slider .swiper-container .slider-content .btn {
		padding: 10px 15px;
		font-size: 12px;
	}
}

.elementor .tg-grid-content .tg-grid-title {
	font-size: 18px;
	line-height: 26px;
	padding-bottom: 5px;
}

.elementor .tg-grid-content .tg-grid-thumb {
	display: block;
	position: absolute;
	width: 100px;
}

.elementor .tg-grid-content .tg-entry-content {
	margin-left: 120px;
	min-height: 100px;
}

.elementor .tg-block-content-wrapper,
.elementor .tg-grid-content-wrapper {
	margin-bottom: 30px;
}

.elementor .entry-meta {
	font-size: 14px;
	margin-bottom: 18px;
}

.elementor .entry-meta span {
	margin-right: 5px;
}

.elementor .entry-meta span a {
	color: #424143;
}

.elementor .entry-meta span a:hover {
	color: #78b865;
}
