@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	font-stretch: normal;
	font-display: fallback;
	src: url(assets/fonts/Lato-Thin.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 100;
	font-stretch: normal;
	font-display: fallback;
	src: url(assets/fonts/Lato-ThinItalic.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	font-display: fallback;
	src: url(assets/fonts/Lato-Light.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 300;
	font-stretch: normal;
	font-display: fallback;
	src: url(assets/fonts/Lato-LightItalic.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-display: fallback;
	src: url(assets/fonts/Lato-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	font-stretch: normal;
	font-display: fallback;
	src: url(assets/fonts/Lato-Italic.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
	font-display: fallback;
	src: url(assets/fonts/Lato-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 700;
	font-stretch: normal;
	font-display: fallback;
	src: url(assets/fonts/Lato-BoldItalic.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	font-stretch: normal;
	font-display: fallback;
	src: url(assets/fonts/Lato-Black.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 900;
	font-stretch: normal;
	font-display: fallback;
	src: url(assets/fonts/Lato-BlackItalic.woff) format('woff');
}
