
/* =FOOTER WIDGET AREA
----------------------------------------------- */

.footer-widgets-wrapper {
	background-color: #333333;
	border-top: 1px solid #EAEAEA;
}

.footer-widgets-area {
	padding-top: 30px;
	padding-bottom: 10px;
	color: #999999;

	.tg-one-fourth .widget-title {
		text-align: left;
	}

	h3.widget-title {
		color: #D5D5D5;
	}

	.tg-one-fourth p {
		text-align: left;
		color: #999999;
	}

	a {
		color: #D5D5D5 !important;

		&:hover {
			color: #0FBE7C !important;
		}
	}
}

#colophon {
	font-size: 14px;
	line-height: 18px;

	.widget {
		padding-bottom: 25px;
	}

	.widget-title {
		font-size: 22px;
		line-height: 32px;
	}

	p {
		font-size: 14px;
		line-height: 18px;
	}
}

/* =FOOTER SOCKET AREA
----------------------------------------------- */

.footer-socket-wrapper {
	padding: 10px 0px;
	background-color: #F8F8F8;
	border-top: 1px solid #EAEAEA;
}

.footer-socket-area {
	width: 100%;
}

.footer-socket-wrapper {
	.copyright {
		color: #666666;
		max-width: 50%;
		float: left;
		font-size: 12px;

		a {
			color: #666666;

			&:hover {
				color: #0FBE7C;
			}
		}
	}

	.small-menu {
		float: right;

		a {
			padding-top: 0;
		}
		
		ul li ul {
			top: 21px;
		}
	}
}
