/* =HEADER
----------------------------------------------- */

#masthead {}

#header-meta {
	background-color: #F8F8F8;
	border-bottom: 1px solid #EAEAEA;
}

#header-text-nav-container {
	border-bottom: 1px solid #EAEAEA;
}

#header-text-nav-wrap {
	padding-top: 15px;
	padding-bottom: 15px;
}

#header-left-section {
	float: left;
	margin-right: 25px;
}

#header-logo-image {
	float: left;
	padding: 0 20px 0 0;
	max-width: 100%;
	img {
		margin-bottom: 0px;
	}
}

#header-text {
	float: left;
	padding: 10px 20px 0 0;
}

#site-title a {
	color: #444444;
	font-size: 36px;
}

h1#site-title {
	padding-bottom: 5px;
}

h3#site-title {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 0;
	padding-bottom: 5px;
}

#site-title a:hover {
	color: #0FBE7C;
}

#site-description {
	line-height: 24px;
	font-size: 16px;
	padding-bottom: 0;
	color: #666666;
}

#header-right-section {
	float: right;
}

#header-right-sidebar {
	overflow: hidden;
}

#header-right-section .widget {
	text-align: right;
	padding-top: 10px;
	h3 {
		padding-bottom: 5px;
	}
}

.header-image {
	margin-bottom: 0;
	border-bottom: 1px solid #EAEAEA;
	width: 100%;
}

/* =SEARCH WIDGET
----------------------------------------------- */

#masthead .search-wrap input.s {
	width: 130px;
}

.search-wrap button {
	border-radius: 0;
	height: 32px;
	margin-bottom: 0;
	margin-left: -6px;
	padding: 0;
}

.search-icon:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: normal 18px/1 'Genericons';
	content: '\f400';
	vertical-align: middle;
	padding: 3px 7px;
}

/* =NAVIGATION
----------------------------------------------- */

nav li > {
	ul, 
	ol {
		margin: 0;
		list-style: none;
	}
}

.main-navigation {
	float: right;
	padding-top: 20px;

	li {
		float: left;
		position: relative;
		padding: 0 0 0 25px;
		font-family: 'Lato', sans-serif;
	}

	ul li a {
		font-size: 16px;
	}

	li.default-menu {
		display: none;
	}
}

li.default-menu {
	display: none;
}

.main-navigation {
	a {
		color: #444444;
		display: block;
		float: left;
		height: 30px;

		&:hover {
			color: #0FBE7C;
		}
	}

	ul {

		li {

			&.current-menu-item a,
			&.current_page_ancestor a,
			&.current-menu-ancestor a,
			&.current_page_item a,
			&.current-menu-ancestor > .sub-toggle,
			&.current-menu-item > .sub-toggle,
			&:hover > a,
			&:hover > .sub-toggle {
				color: #0FBE7C;
			}

			ul, &:hover ul ul {
				display: none;
				z-index: 9999;
			}

			&:hover ul {
				display: block;
			}

			.sub-toggle {
				position: absolute;
				top: 50%;
				-ms-transform: translateY(-50%) rotate(90deg);
				-webkit-transform: translateY(-50%) rotate(90deg);
				transform: translateY(-50%) rotate(90deg);
				margin-left: 5px;
				margin-top: -4px;
			}

			ul {

				li {

					.sub-toggle {
						-ms-transform: translateY(-50%) rotate(0deg);
						-webkit-transform: translateY(-50%) rotate(0deg);
						transform: translateY(-50%) rotate(0deg);
					}
				}
			}

			> ul .sub-toggle {
				margin: 0;
				right: 10px;
			}

			> ul.spacious-menu--left {
				left: -100%;
			}
		}

		ul {
			li:hover ul {
				display: block;
			}

			li:hover ul ul {
				display: none;
				z-index: 9999;
			}

			ul {
				li:hover ul ul, 
				ul li:hover ul ul {
					display: none;
					z-index: 9999;
				}

				li:hover > ul {
					display: block;
				}

				ul {
					li:hover > ul, 
					ul li:hover > ul {
						display: block;
					}
				}
			}
		}
		
		li {
			
			ul {
				position: absolute;
				background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
				border-top: 1px solid #0FBE7C;
				top: 30px;
				left: 25px;
				width: 150px;

				li {
					float: none;
					border-bottom: 1px solid #EAEAEA;
					padding: 0;

					&.current-menu-item a,
					&.current_page_ancestor a,
					&.current-menu-ancestor a,
					&.current_page_item a,
					&:hover > a {
						color: #0FBE7C;
					}


					a {
						float: none;
						line-height: 21px;
						font-size: 13px;
						font-weight: normal;
						height: 100%;
						padding: 6px 10px;
						color: #666666;
					}
				}
			}

			&.current-menu-item ul li a,
			ul li.current-menu-item a,
			&.current_page_ancestor ul li a,
			&.current-menu-ancestor ul li a,
			&.current_page_item ul li a {
				float: none;
				line-height: 21px;
				font-size: 13px;
				font-weight: normal;
				height: 100%;
				padding: 6px 10px;
				color: #666666;
			}

			ul li {
				a:hover, 
				&:hover > a {
					background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
					color: #0FBE7C;
				}
			}

			&.current-menu-item ul li a:hover {
				background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
				color: #0FBE7C;
			}

			ul li ul {
				left: 150px;
				top: -1px;
			}
		}

		li.focus > ul {
			display: block;
		}
	}

	select {
		display: none;
	}
}

/* =DROP DOWN
----------------------------------------------- */

/* =SMALL MENU
----------------------------------------------- */

.menu-toggle {
	display: none;
	cursor: pointer;
}

.site-header .menu-toggle {
	background: #3A3A3A;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	padding: 5px 22px;
	margin: 0;
	text-align: center;

	&:hover {
		background: #0FBE7C;
	}

	&:before {
		content: '\2261';
		margin-right: 10px;
	}
}

.main-small-navigation {
	float: none;

	ul {
		margin: 0;
		list-style: none;
	}

	a {
		display: block;
		color: #FFFFFF;
		padding: 10px 40px;
		text-decoration: none;
	}

	li {
		background: #3A3A3A;
		position: relative;

		&:hover {
			background: #0FBE7C;
		}
	}

	ul {
		ul {
			a {
				padding-left: 60px;
			}

			ul a {
				padding-left: 80px;
			}
		}

		> {
			.current_page_item, .current-menu-item {
				background: #0FBE7C;
			}
		}
	}
}

/* =SECONDARY MENUS
----------------------------------------------- */

.small-menu {
	float: right;

	li {
		float: left;
		position: relative;
		font-family: 'Lato', sans-serif;

		&.default-menu {
			display: none;
		}
	}
}

li.default-menu {
	display: none;
}

.small-menu {
	a {
		color: #666666;
		display: block;
		float: left;
		font-size: 10px;
		height: 21px;
		padding: 5px 0 0 16px;
		font-size: 12px;

		&:hover {
			color: #0FBE7C;
		}
	}

	ul li {
		&.current-menu-item a, 
		&.current_page_ancestor a,
		&.current-menu-ancestor a, 
		&.current_page_item a, 
		&:hover > a {
			color: #0FBE7C;
		}
	}
}

/* =Header Display Menu Bottom
----------------------------------------------- */

.spacious-header-display-four {
	
	.bottom-menu {
		.main-navigation {
			float: none;
			li {
				&:first-child {
					padding-left: 0;
				}
			}
		}
	}
}