@import 'theme-style';
@import 'header';
@import 'footer';
@import 'responsive';
.no-sidebar-full-width,
.no-sidebar {
    overflow: hidden;
}

.no-sidebar-full-width #primary .entry-content>.alignfull,
.no-sidebar #primary .entry-content>.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: unset;
}

.no-sidebar-full-width #primary .entry-content>.alignfull.wp-block-cover,
.no-sidebar-full-width #primary .entry-content>.alignfull.wp-block-cover-image,
.no-sidebar-full-width #primary .entry-content>.alignfull.wp-block-cover,
.no-sidebar-full-width #primary .entry-content>.alignfull.wp-block-cover-image,
.no-sidebar #primary .entry-content>.alignfull.wp-block-cover,
.no-sidebar #primary .entry-content>.alignfull.wp-block-cover-image,
.no-sidebar #primary .entry-content>.alignfull.wp-block-cover,
.no-sidebar #primary .entry-content>.alignfull.wp-block-cover-image {
    width: unset;
}

.no-sidebar-full-width #primary .entry-content>.alignwide,
.no-sidebar #primary .entry-content>.alignwide {
    margin-left: -100px;
    margin-right: -100px;
    max-width: unset;
}

.no-sidebar-full-width.box-layout #main,
.no-sidebar.box-layout #main {
    overflow: hidden;
}

.no-sidebar-full-width.box-layout #primary .entry-content>.alignfull,
.no-sidebar.box-layout #primary .entry-content>.alignfull {
    margin-left: -30px;
    margin-right: -30px;
}

.no-sidebar-full-width.box-layout #primary .entry-content>.alignfull.wp-block-cover,
.no-sidebar-full-width.box-layout #primary .entry-content>.alignfull.wp-block-cover-image,
.no-sidebar-full-width.box-layout #primary .entry-content>.alignfull.wp-block-cover,
.no-sidebar-full-width.box-layout #primary .entry-content>.alignfull.wp-block-cover-image,
.no-sidebar.box-layout #primary .entry-content>.alignfull.wp-block-cover,
.no-sidebar.box-layout #primary .entry-content>.alignfull.wp-block-cover-image,
.no-sidebar.box-layout #primary .entry-content>.alignfull.wp-block-cover,
.no-sidebar.box-layout #primary .entry-content>.alignfull.wp-block-cover-image {
    width: unset;
}