.return-to-dashboard.spacious {
    clear: both;
}

p.spacious-actions a.skip {
    opacity: .5;
}

p.spacious-actions a.docs:focus,
p.spacious-actions a.docs:hover,
p.spacious-actions a.skip:focus,
p.spacious-actions a.skip:hover {
    opacity: 1;
}

p.spacious-actions a.button-primary,
p.spacious-actions a.button-secondary {
    text-decoration: none!important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
}

tr {
    border-bottom: 2px solid #fff;
}

.about-wrap {
    max-width: 100%;
}

.welcome-description-wrap {
    float: left;
    width: 45%;
}

.about-wrap h1,
.about-wrap .about-text {
    margin-right: 5%;
}

.spacious-screenshot {
    width: 50%;
    float: right;
}

.wrap .dashicons-no {
    color: #FF0000;
}

.wrap .dashicons-yes {
    color: #008000;
}

.spacious-theme-info {
    display: inline-block;
}
.wrap table{
	border-collapse: unset;
}
.wrap table th {
  width: 33%;
}
.wrap table th:first-child{
	background-color: rgba(0,0,0,0);
}
.wrap table th{
	background-color: #24B37E;
}
.wrap table th:last-child{
	background-color: #228B9B;
}
.wrap table th h3{ 
	color: #fff
}

.wrap table td span {
	font-size: 25px;
}

@media (max-width: 1200px) {
    .about-wrap h1 {
        font-size: 35px;
    }
    .about-wrap .about-text {
        font-size: 15px;
    }
}

@media (max-width: 980px) {
.welcome-description-wrap {
    float: none;
    width: 100%;
}
.spacious-screenshot {
    width: 100%;
    float: none;
}
.about-wrap h1, .about-wrap .about-text {
margin-right: 0;
}
}
