.return-to-dashboard.spacious {
	clear: both;
}

p.spacious-actions a.skip {
    opacity: .5;
}

p.spacious-actions a.docs:focus,
p.spacious-actions a.docs:hover,
p.spacious-actions a.skip:focus,
p.spacious-actions a.skip:hover {
    opacity: 1;
}

p.spacious-actions a.button-primary,
p.spacious-actions a.button-secondary {
    text-decoration: none!important;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td {
	text-align: center;
}

tr {
	border-bottom: 2px solid #fff;
}
