/*==========  Gray colors  ==========*/

$color-gray-base: 				#000;
$color-gray-darken: 			#252525;
$color-gray-darker: 			#1e1e1f; /*Gray 85%*/
$color-gray-dark: 				#424143;  /* Gray 80%*/
$color-gray: 					#67666a; /* Gray 67%*/
$color-gray-light:				#807f83; /* Gray 65%*/
$color-gray-lighter: 			#cbc9cf; /* Gray 30%*/
$color-gray-lighten:			#e5e4e6; /* Gray 15%*/

/*=====  Light colors  ======*/
$color-white:					#fff;
$color-brand-secondary:			#ef7278;

/*==========  Brand-colors  ==========*/

$color-brand-primary:        	#78b865; /* #337ab7*/
$color-brand-success:        	#5cb85c;
$color-brand-info:           	#5bc0de;
$color-brand-warning:        	#f0ad4e;
$color-brand-danger:         	#d9534f;


$color-heading:					$color-gray-dark;


/*----------  More Colors  ----------*/
$color-pink:					#dd9ebd;
$color-green:					#a0c695;
$color-dark-green:				#2ecc71;
$color-blue:					#0085ba;
$color-dark-blue:				#2c3c4d;
$color-orange:					#f8a660;
$color-cyan:					#83e0f1;
$color-yellow:					#ddd69e;
